
.App {
  width: 100%;
}

.App > div {
  /* border:solid; */
  width: 80%;
  margin:auto;
  display: flex;
  flex-direction: column;
}

.container > .task-container {
  margin-bottom: 5px;
}

.container > *:first-child {
  margin-top: 5px;
}

.task-container {
  display:flex;
  flex-direction: column;
  border:solid rgba(0,0,0,.2) 1px;
  padding: 5px;
  border-bottom: solid rgba(0,0,0,.2) 1px
}

.task-container > span {
  border-bottom: solid rgba(0,0,0,.5) 1px;
  width: 100%;
}

.sub-task-container {
  padding: 5px 10px;
  display:flex;
  flex-direction: column;
}

.selected-sub-task {
  background-color:rgb(229, 226, 226);
}

.top-level-task-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.top-level-task-container > div > * {
  margin-right: 5px;
}

.btn {
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 20px;
  background-color: green;
  font-weight: 600;
  cursor: pointer;
}

.btn:disabled {
  opacity: .5;
}